{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  {% from 'phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "prototype"
},
html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}
<a href="#" class="govuk-back-link">Back</a><br>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full"><br>
   <br> <span class="govuk-caption-xl">UKPRN: 10003010</span>
      
       <h1 class="govuk-heading-xl">Coventry College</h1> 

<br>

 <h1 class="govuk-heading-l">Funding factors</h1>

<table class="govuk-table">
         <!-- <caption class="govuk-table__caption">Here are the providers to add:</caption> -->
         <thead class="govuk-table__head">
           <tr class="govuk-table__row">
             <th class="govuk-table__header" scope="col">Factor</th>
             <th class="govuk-table__header " scope="col">Year</th>
             <th class="govuk-table__header " scope="col">Value</th>
           </tr>
         </thead>
         <tbody class="govuk-table__body">
           <tr class="govuk-table__row">
             <th class="govuk-table__cell" scope="row">16-19 Historic area cost factor</th>
             <td class="govuk-table__cell ">2018/19</td>
             <td class="govuk-table__cell govuk-summary-list__actions">1</td>
           </tr>
           <tr class="govuk-table__row">
             <th class="govuk-table__cell" scope="row">16-19 Historic disadvantage funding proportion</th>
             <td class="govuk-table__cell ">2018/19</td>
             <td class="govuk-table__cell govuk-summary-list__actions">0.21777</td>
           </tr>
           <tr class="govuk-table__row">
             <th class="govuk-table__cell" scope="row">16-19 Historic large programme proportion</th>
             <td class="govuk-table__cell ">2018/19</td>
             <td class="govuk-table__cell govuk-summary-list__actions">0</td>
           </tr>
           <tr class="govuk-table__row">
             <th class="govuk-table__cell" scope="row">16-19 Historic programme cost weighting factor</th>
             <td class="govuk-table__cell ">2018/19</td>
             <td class="govuk-table__cell govuk-summary-list__actions">1.08339</td>
           </tr>
           <tr class="govuk-table__row">
             <th class="govuk-table__cell" scope="row">16-19 Historic retention factor</th>
             <td class="govuk-table__cell ">2018/19</td>
             <td class="govuk-table__cell govuk-summary-list__actions">0.94956</td>
           
         </tbody>
       </table><br>


       <a href="provider-coventry2" class="govuk-button">Back</a><br>
       <!--<a href="dash" class="govuk-link">Cancel</a>-->
  </div>
</div>


{% endblock %}
