{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <a id="backlink" href="#" class="govuk-back-link">Back</a>
 
  
  <br><br><p></p>

        <h1 class="govuk-heading-l">12 records sucessfully added with 2 errors</h1><br>
        <h2 class="govuk-heading-m">Errors</h2>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              <strong>Date</strong>
            </dt>
            <dd class="govuk-summary-list__value">
              <strong>Name</strong>
            </dd>
            
            
            <dd class="govuk-summary-list__value">
              <strong>UKPRN</strong>
            </dd>

            <dd class="govuk-summary-list__value">
              <strong>UPIN</strong>
            </dd>

            <dd class="govuk-summary-list__value">
              <strong>Source</strong>
            </dd>
            <dd class="govuk-summary-list__value">
              <strong>Status</strong>
            </dd>

            <dd class="govuk-summary-list__value">
              <strong>Error</strong>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              25.8.2019
            </dt>
            <dd class="govuk-summary-list__value">
              Welbourne Primary School
            </dd>
            <dd class="govuk-summary-list__value">
              
            </dd>

            <dd class="govuk-summary-list__value">
                
            </dd>

            <dd class="govuk-summary-list__value">
              GIAS
            </dd>
            
            <dd class="govuk-summary-list__value">
              Failed 
            </dd>

            <dd class="govuk-summary-list__value">
              Not found
            </dd>
          </div>

          


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              25.8.2019
            </dt>
            <dd class="govuk-summary-list__value">
              London
            </dd>
            <dd class="govuk-summary-list__value">
              
            </dd>

            <dd class="govuk-summary-list__value">
                
            </dd>
            <dd class="govuk-summary-list__value">
              GIAS
            </dd>
            <dd class="govuk-summary-list__value">
                Failed 
            </dd>
            <dd class="govuk-summary-list__value">
              Mismatch
            </dd>
          </div>

          

        </dl>




        <br><br>

        <h1 class="govuk-heading-l">Added records</h1>

        <dl class="govuk-summary-list">
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              <strong>Date</strong>
            </dt>

            <dd class="govuk-summary-list__value">
              <strong>Name</strong>
            </dd>

            <dd class="govuk-summary-list__value">
              <strong>UKPRN</strong>
            </dd>

            <dd class="govuk-summary-list__value">
              <strong>UPIN</strong>
            </dd>

            <dd class="govuk-summary-list__value">
              <strong>Source</strong>
            </dd>
            
            <dd class="govuk-summary-list__value">
              <strong>Status</strong>
            </dd>

            
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              25.8.2019
            </dt>
            <dd class="govuk-summary-list__value"><a href="provider-coventry2" class="govuk-link">
              Beacon Academy</a>
            </dd>
            <dd class="govuk-summary-list__value">
              100556677
            </dd>

            <dd class="govuk-summary-list__value">
                106441
            </dd>


            <dd class="govuk-summary-list__value">
              GIAS
            </dd>
            <dd class="govuk-summary-list__value">
                Propose to open
            </dd>
            
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              25.8.2019
            </dt>
            <dd class="govuk-summary-list__value"><a href="provider-coventry2" class="govuk-link">
              The Blyth Academy</a>
            </dd>
            <dd class="govuk-summary-list__value">
              100556677
            </dd>

            <dd class="govuk-summary-list__value">
                106441
            </dd>

            <dd class="govuk-summary-list__value">
              GIAS
            </dd>
            <dd class="govuk-summary-list__value">
                Propose to open
            </dd>
          
          </div>

          

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              25.8.2019
            </dt>
            <dd class="govuk-summary-list__value"><a href="house-of-clive" class="govuk-link">
              House of Clive Academy</a>
            </dd>
            <dd class="govuk-summary-list__value">
              100556677
            </dd>

            <dd class="govuk-summary-list__value">
                106441
            </dd>

            <dd class="govuk-summary-list__value">
              GIAS
            </dd>
            <dd class="govuk-summary-list__value">
                Propose to open
            </dd>
            
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              25.8.2019
            </dt>
            <dd class="govuk-summary-list__value"><a href="#" class="govuk-link">
              The King's Academy</a>
            </dd>
            <dd class="govuk-summary-list__value">
              100556677
            </dd>

            <dd class="govuk-summary-list__value">
                106441
            </dd>

            <dd class="govuk-summary-list__value">
              GIAS
            </dd>
            <dd class="govuk-summary-list__value">
                Propose to open
            </dd>
            
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              25.8.2019
            </dt>
            <dd class="govuk-summary-list__value"><a href="#" class="govuk-link">
              Trinity Academy</a>
            </dd>
            <dd class="govuk-summary-list__value">
              100556677
            </dd>

            <dd class="govuk-summary-list__value">
                106441
            </dd>

            <dd class="govuk-summary-list__value">
              GIAS
            </dd>
            <dd class="govuk-summary-list__value">
                Propose to open
            </dd>
            
          </div>


          

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              25.8.2019
            </dt>
            <dd class="govuk-summary-list__value"><a href="house-of-clive" class="govuk-link">
              Walsall Academy</a>
            </dd>
            <dd class="govuk-summary-list__value">
              100074277
            </dd>

            <dd class="govuk-summary-list__value">
                106441
            </dd>

            <dd class="govuk-summary-list__value">
              GIAS
            </dd>
            <dd class="govuk-summary-list__value">
                Propose to open
            </dd>
            
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              25.8.2019
            </dt>
            <dd class="govuk-summary-list__value"><a href="#" class="govuk-link">
             Kineton Academy</a>
            </dd>
            <dd class="govuk-summary-list__value">
              100224571
            </dd>

            <dd class="govuk-summary-list__value">
                106441
            </dd>

            <dd class="govuk-summary-list__value">
              GIAS
            </dd>
            <dd class="govuk-summary-list__value">
                Propose to open
            </dd>
            
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              25.8.2019
            </dt>
            <dd class="govuk-summary-list__value"><a href="#" class="govuk-link">
              Folkestone Academy</a>
            </dd>
            <dd class="govuk-summary-list__value">
              100026677
            </dd>

            <dd class="govuk-summary-list__value">
                106441
            </dd>

            <dd class="govuk-summary-list__value">
              GIAS
            </dd>
            <dd class="govuk-summary-list__value">
                Propose to open
            </dd>
          
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              25.8.2019
            </dt>
            <dd class="govuk-summary-list__value"><a href="#" class="govuk-link">
              Gearge Slater Academy</a>
            </dd>
            <dd class="govuk-summary-list__value">
              100081234
            </dd>

            <dd class="govuk-summary-list__value">
                106441
            </dd>

            <dd class="govuk-summary-list__value">
              GIAS
            </dd>
            <dd class="govuk-summary-list__value">
                Propose to open
            </dd>
            
          </div>

          

          

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              25.8.2019
            </dt>
            <dd class="govuk-summary-list__value"><a href="#" class="govuk-link">
              Grace Academy Solihull</a>
            </dd>
            <dd class="govuk-summary-list__value">
              100099770
            </dd>

            <dd class="govuk-summary-list__value">
                106441
            </dd>

            <dd class="govuk-summary-list__value">
              GIAS
            </dd>
            <dd class="govuk-summary-list__value">
                Propose to open
            </dd>
            
          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              25.8.2019
            </dt>
            <dd class="govuk-summary-list__value"><a href="provider-coventry2" class="govuk-link">
              Grace Academy Coventry</a>
            </dd>
            <dd class="govuk-summary-list__value">
              100556677
            </dd>

            <dd class="govuk-summary-list__value">
                106441
            </dd>


            <dd class="govuk-summary-list__value">
              GIAS
            </dd>
            <dd class="govuk-summary-list__value">
                Propose to open
            </dd>
            
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              25.8.2019
            </dt>
            <dd class="govuk-summary-list__value"><a href="provider-coventry2" class="govuk-link">
              Haberdashers Aske's Knights Academy</a>
            </dd>
            <dd class="govuk-summary-list__value">
              100556677
            </dd>

            <dd class="govuk-summary-list__value">
                106441
            </dd>

            <dd class="govuk-summary-list__value">
              GIAS
            </dd>
            <dd class="govuk-summary-list__value">
                Propose to open
            </dd>
          
          </div>

          

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              25.8.2019
            </dt>
            <dd class="govuk-summary-list__value"><a href="house-of-clive" class="govuk-link">
              Harris Academy South Norwood</a>
            </dd>
            <dd class="govuk-summary-list__value">
              100556677
            </dd>

            <dd class="govuk-summary-list__value">
                106441
            </dd>

            <dd class="govuk-summary-list__value">
              GIAS
            </dd>
            <dd class="govuk-summary-list__value">
                Propose to open
            </dd>
            
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              25.8.2019
            </dt>
            <dd class="govuk-summary-list__value"><a href="#" class="govuk-link">
              Harris City Academy Crystal Palace </a>
            </dd>
            <dd class="govuk-summary-list__value">
              100556677
            </dd>

            <dd class="govuk-summary-list__value">
                106441
            </dd>

            <dd class="govuk-summary-list__value">
              GIAS
            </dd>
            <dd class="govuk-summary-list__value">
                Propose to open
            </dd>
            
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              25.8.2019
            </dt>
            <dd class="govuk-summary-list__value"><a href="#" class="govuk-link">
              Havelock Academy</a>
            </dd>
            <dd class="govuk-summary-list__value">
              100556677
            </dd>

            <dd class="govuk-summary-list__value">
                106441
            </dd>

            <dd class="govuk-summary-list__value">
              GIAS
            </dd>
            <dd class="govuk-summary-list__value">
                Propose to open
            </dd>
            
          </div>


          

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              25.8.2019
            </dt>
            <dd class="govuk-summary-list__value"><a href="house-of-clive" class="govuk-link">
             John Cabot Academy</a>
            </dd>
            <dd class="govuk-summary-list__value">
              100074277
            </dd>

            <dd class="govuk-summary-list__value">
                106441
            </dd>

            <dd class="govuk-summary-list__value">
              GIAS
            </dd>
            <dd class="govuk-summary-list__value">
                Propose to open
            </dd>
            
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              25.8.2019
            </dt>
            <dd class="govuk-summary-list__value"><a href="#" class="govuk-link">
             John Madejski Academy</a>
            </dd>
            <dd class="govuk-summary-list__value">
              100224571
            </dd>

            <dd class="govuk-summary-list__value">
                106441
            </dd>

            <dd class="govuk-summary-list__value">
              GIAS
            </dd>
            <dd class="govuk-summary-list__value">
                Propose to open
            </dd>
            
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              25.8.2019
            </dt>
            <dd class="govuk-summary-list__value"><a href="#" class="govuk-link">
              King Solomom Academy</a>
            </dd>
            <dd class="govuk-summary-list__value">
              100026677
            </dd>

            <dd class="govuk-summary-list__value">
                106441
            </dd>

            <dd class="govuk-summary-list__value">
              GIAS
            </dd>
            <dd class="govuk-summary-list__value">
                Propose to open
            </dd>
          
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              25.8.2019
            </dt>
            <dd class="govuk-summary-list__value"><a href="#" class="govuk-link">
              Lambeth Academy</a>
            </dd>
            <dd class="govuk-summary-list__value">
              100081234
            </dd>

            <dd class="govuk-summary-list__value">
                106441
            </dd>

            <dd class="govuk-summary-list__value">
              GIAS
            </dd>
            <dd class="govuk-summary-list__value">
                Propose to open
            </dd>
            
          </div>

          

          

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              25.8.2019
            </dt>
            <dd class="govuk-summary-list__value"><a href="#" class="govuk-link">
              Longfield Academy</a>
            </dd>
            <dd class="govuk-summary-list__value">
              100099770
            </dd>

            <dd class="govuk-summary-list__value">
                106441
            </dd>

            <dd class="govuk-summary-list__value">
              GIAS
            </dd>
            <dd class="govuk-summary-list__value">
                Propose to open
            </dd>
            
          </div>


        </dl>

<br><br>

        

 </div>


    </div>
  </div>



{% endblock %}
Collapse



