{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a id="backlink" href="#" class="govuk-back-link">Back</a>
  </div>
  
</div>
<br>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  
    <h1 class="govuk-heading-xl"> 22 records added</h1>
  </div>
  
</div>



<div class="govuk-grid-row">
  
  <div class="govuk-grid-column-full">
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">UKPRN</th>
          <th class="govuk-table__header" scope="col">Name</th>
          <th class="govuk-table__header" scope="col">Postcode</th>
          <th class="govuk-table__header" scope="col">Status</th>
          
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">10007859</th>
          <td class="govuk-table__cell">Warwickshire College</td>
          <td class="govuk-table__cell">CV23 6FF</td>
          <td class="govuk-table__cell"><a href="query-results" class="govuk-link">Error</a></td>
          
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">10007860</th>
          <td class="govuk-table__cell">York College</td>
          <td class="govuk-table__cell">YK3 7FF</td>
          <td class="govuk-table__cell"><a href="query-results" class="govuk-link">Error</a></td>
          
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">10007590</th>
          <td class="govuk-table__cell"><a href="provider-coventry2" class="govuk-link">Coventry College</a></td>
          <td class="govuk-table__cell">CV1 6YY</td>
          <td class="govuk-table__cell">Active</td>
          
        </tr>

        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">10007880</th>
          <td class="govuk-table__cell"><a href="house-of-clive" class="govuk-link">House of Clive (Hair and Beauty) Limited</a></td>
          <td class="govuk-table__cell">CV23 6FF</td>
          <td class="govuk-table__cell">Active</a></td>
          
        </tr>


        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">10007853</th>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Leicester College</a></td>
          <td class="govuk-table__cell">CF3 6FF</td>
          <td class="govuk-table__cell">Active</a></td>
          
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">10007860</th>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Really Good Training Company<strong></strong></a></td>
          <td class="govuk-table__cell">YK23 6FF</td>
          <td class="govuk-table__cell">Active</td>
          
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">10007888</th>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Yorkshire Academy</a></td>
          <td class="govuk-table__cell">CV23 6FF</td>
          <td class="govuk-table__cell">Propose to open</td>
          
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">10007859</th>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">St John's Academy</a></td>
          <td class="govuk-table__cell">CV23 6FF</td>
          
          <td class="govuk-table__cell">Propose to open</a></td>
          
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">10004859</th>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Pershore College</a></td>
          <td class="govuk-table__cell">PR2 6FF</td>
          <td class="govuk-table__cell">Active</a></td>
          
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">10005859</th>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Moreton Morrell College</a></td>
          <td class="govuk-table__cell">CV23 6FF</td>
          <td class="govuk-table__cell">Active</a></td>
          
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">10003859</th>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">London Training Company</a></td>
          <td class="govuk-table__cell">W1 6FF</td>
          <td class="govuk-table__cell">Active</a></td>
          
        </tr>
        
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">10007859</th>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Herewood Training Company</a></td>
          <td class="govuk-table__cell">CV2 6FF</td>
          <td class="govuk-table__cell">Active</a></td>
          
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">10002859</th>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Poole Sixth Form College</a></td>
          <td class="govuk-table__cell">PL23 6FF</td>
          <td class="govuk-table__cell">Active</a></td>
          
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">10002259</th>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">St John Sixth Form College</a></td>
          <td class="govuk-table__cell">SW3 5ED</td>
          <td class="govuk-table__cell">Active</a></td>
          
        </tr>
      </tbody>
    </table>

  </div>
</div>










{% endblock %}
