{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <a id="backlink" href="#" class="govuk-back-link">Back</a>
 
  
  <br><br><p></p>

        <h1 class="govuk-heading-l">12 records sucessfully amended with 2 errors</h1><br>
        <h2 class="govuk-heading-m">Errors</h2>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              <strong>Date</strong>
            </dt>
            <dd class="govuk-summary-list__value">
              <strong>Name</strong>
            </dd>
            
            
            <dd class="govuk-summary-list__value">
              <strong>UKPRN</strong>
            </dd>

            <dd class="govuk-summary-list__value">
              <strong>Source</strong>
            </dd>
            <dd class="govuk-summary-list__value">
              <strong>Status</strong>
            </dd>

            <dd class="govuk-summary-list__value">
              <strong>Error</strong>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              25.8.2019
            </dt>
            <dd class="govuk-summary-list__value">
              Welbourne Primary School
            </dd>
            <dd class="govuk-summary-list__value">
              100556677
            </dd>
            <dd class="govuk-summary-list__value">
              GIAS
            </dd>
            
            <dd class="govuk-summary-list__value">
              Failed 
            </dd>

            <dd class="govuk-summary-list__value">
              Not found
            </dd>
          </div>

          


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              25.8.2019
            </dt>
            <dd class="govuk-summary-list__value">
              Very Good Training Limited
            </dd>
            <dd class="govuk-summary-list__value">
              100556677
            </dd>
            <dd class="govuk-summary-list__value">
              UKRLP
            </dd>
            <dd class="govuk-summary-list__value">
                Failed 
            </dd>
            <dd class="govuk-summary-list__value">
              UKRLP mismatch
            </dd>
          </div>

          

        </dl>




        <br><br>

        <h1 class="govuk-heading-l">Amended records</h1>

        <dl class="govuk-summary-list">
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              <strong>Date</strong>
            </dt>

            <dd class="govuk-summary-list__value">
              <strong>Name</strong>
            </dd>

            <dd class="govuk-summary-list__value">
              <strong>UKPRN</strong>
            </dd>

            <dd class="govuk-summary-list__value">
              <strong>Source</strong>
            </dd>
            
            
            
            <dd class="govuk-summary-list__value">
              <strong>?</strong>
            </dd>

            
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              25.8.2019
            </dt>
            <dd class="govuk-summary-list__value"><a href="provider-coventry2" class="govuk-link">
              Welbourne Primary Academy</a>
            </dd>
            <dd class="govuk-summary-list__value">
              100556677
            </dd>
            <dd class="govuk-summary-list__value">
              GIAS
            </dd>
            <dd class="govuk-summary-list__value">
                Amended
            </dd>
            
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              25.8.2019
            </dt>
            <dd class="govuk-summary-list__value"><a href="provider-coventry2" class="govuk-link">
              Coventry College</a>
            </dd>
            <dd class="govuk-summary-list__value">
              100556677
            </dd>
            <dd class="govuk-summary-list__value">
              GIAS
            </dd>
            <dd class="govuk-summary-list__value">
                Amended
            </dd>
          
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              25.8.2019
            </dt>
            <dd class="govuk-summary-list__value"><a href="#" class="govuk-link">
              Very Good Training Limited</a>
            </dd>
            <dd class="govuk-summary-list__value">
              100556677
            </dd>
            <dd class="govuk-summary-list__value">
              UKRLP
            </dd>
            <dd class="govuk-summary-list__value">
                Amended
            </dd>
            
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              25.8.2019
            </dt>
            <dd class="govuk-summary-list__value"><a href="house-of-clive" class="govuk-link">
              House of Clive Limited</a>
            </dd>
            <dd class="govuk-summary-list__value">
              100556677
            </dd>
            <dd class="govuk-summary-list__value">
              UKRLP
            </dd>
            <dd class="govuk-summary-list__value">
                Amended
            </dd>
            
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              25.8.2019
            </dt>
            <dd class="govuk-summary-list__value"><a href="#" class="govuk-link">
              Very Good Training Limited</a>
            </dd>
            <dd class="govuk-summary-list__value">
              100556677
            </dd>
            <dd class="govuk-summary-list__value">
              UKRLP
            </dd>
            <dd class="govuk-summary-list__value">
                Amended
            </dd>
            
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              25.8.2019
            </dt>
            <dd class="govuk-summary-list__value"><a href="house-of-clive" class="govuk-link">
              House of Clive Limited</a>
            </dd>
            <dd class="govuk-summary-list__value">
              100556677
            </dd>
            <dd class="govuk-summary-list__value">
              UKRLP
            </dd>
            <dd class="govuk-summary-list__value">
                Amended
            </dd>
            
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              25.8.2019
            </dt>
            <dd class="govuk-summary-list__value"><a href="#" class="govuk-link">
              Welbourne Primary Academy</a>
            </dd>
            <dd class="govuk-summary-list__value">
              100556677
            </dd>
            <dd class="govuk-summary-list__value">
              GIAS
            </dd>
            <dd class="govuk-summary-list__value">
                Amended
            </dd>
            
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              25.8.2019
            </dt>
            <dd class="govuk-summary-list__value"><a href="#" class="govuk-link">
              Coventry Council</a>
            </dd>
            <dd class="govuk-summary-list__value">
              100556677
            </dd>
            <dd class="govuk-summary-list__value">
              GIAS
            </dd>
            <dd class="govuk-summary-list__value">
                Amended
            </dd>
          
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              25.8.2019
            </dt>
            <dd class="govuk-summary-list__value"><a href="#" class="govuk-link">
              Very Good Training Limited</a>
            </dd>
            <dd class="govuk-summary-list__value">
              100556677
            </dd>
            <dd class="govuk-summary-list__value">
              UKRLP
            </dd>
            <dd class="govuk-summary-list__value">
                Amended
            </dd>
            
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              25.8.2019
            </dt>
            <dd class="govuk-summary-list__value"><a href="#" class="govuk-link">
              House of Clive Limited</a>
            </dd>
            <dd class="govuk-summary-list__value">
              100556677
            </dd>
            <dd class="govuk-summary-list__value">
              UKRLP
            </dd>
            <dd class="govuk-summary-list__value">
                Amended
            </dd>
            
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              25.8.2019
            </dt>
            <dd class="govuk-summary-list__value"><a href="#" class="govuk-link">
              Very Good Training Limited</a>
            </dd>
            <dd class="govuk-summary-list__value">
              100556677
            </dd>
            <dd class="govuk-summary-list__value">
              UKRLP
            </dd>
            <dd class="govuk-summary-list__value">
                Amended
            </dd>
            
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              25.8.2019
            </dt>
            <dd class="govuk-summary-list__value"><a href="#" class="govuk-link">
              House of Clive Limited</a>
            </dd>
            <dd class="govuk-summary-list__value">
              100556677
            </dd>
            <dd class="govuk-summary-list__value">
              UKRLP
            </dd>
            <dd class="govuk-summary-list__value">
                Amended
            </dd>
            
          </div>





        </dl>

<br><br>

        

 </div>


    </div>
  </div>



{% endblock %}
Collapse



