{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  {% from 'phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "prototype"
},
html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}
<a href="#" class="govuk-back-link">Back</a><br>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full"><br>
   <br> <span class="govuk-caption-xl">UKPRN: 10003010</span>
      
       <h1 class="govuk-heading-xl">House of Clive (Hair and Beauty) Limited</h1>
       
      

        
  <dl class="govuk-summary-list">
      
<div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Status
      </dt>
    <dd class="govuk-summary-list__value govuk-red">
   Inactive from 12 August 2019
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="status-change">
        Change
        <span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>
  </div>

 

  <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      UPIN
      </dt>
    <dd class="govuk-summary-list__value">
     234555
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="academy-propose">
        
        <span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>
  </div>

 

  <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      URN
      </dt>
    <dd class="govuk-summary-list__value">
     147111
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="academy-propose">
        
        <span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      DfE number
      </dt>
    <dd class="govuk-summary-list__value">
     330/2204
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="academy-propose">
        
        <span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>
  </div>

  

  

   <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Organisation type
      </dt>
    <dd class="govuk-summary-list__value">
        Private Sector
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        
        <span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Verification
      </dt>
    <dd class="govuk-summary-list__value">
        Companies House 1123344
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        
        <span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>
  </div>



  
<div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Trading name
      </dt>
    <dd class="govuk-summary-list__value">
      House of Clive
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        
        <span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>
  </div>
   

   <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Address
      </dt>
    <dd class="govuk-summary-list__value">
      26 Oakfield Road, Clifton 
      <br>Bristol BS8 2AT
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
       
        <span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>
  </div>
  

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Phone number
    </dt>
    <dd class="govuk-summary-list__value">
      <p class="govuk-body">02476 932932</p>
      <p class="govuk-body"></p>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        
        <span class="govuk-visually-hidden"> contact details</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Head of Organisation
    </dt>
    <dd class="govuk-summary-list__value">
      Mrs Caroline Spencer
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        
        <span class="govuk-visually-hidden"> date of birth</span>
      </a>
    </dd>
  </div>
  
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Contact details
    </dt>
    <dd class="govuk-summary-list__value">
      <p class="govuk-body">0789 006 7755</p>
      <p class="govuk-body">pbrammall@example.com</p>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        
        <span class="govuk-visually-hidden"> contact details</span>
      </a>
    </dd>
  </div>

  

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Funding type
    </dt>
    <dd class="govuk-summary-list__value">
      <p class="govuk-body">Direct</p>
      <p class="govuk-body"></p>
      
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        
        <span class="govuk-visually-hidden"></span>
      </a>
    </dd>
  </div>

</dl>

<br><br><br>

 

       <a href="advanced-search2" class="govuk-button">Back</a><br>
       <a href="expired-funding" class="govuk-link">Cancel</a>
       
  </div>
</div>


{% endblock %}
