{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  {% from 'phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "prototype"
},
html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}
<a href="#" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Add a new provider or multiple providers?</h1>
</div>
</div>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

       


      <div class="govuk-form-group">
      <label class="govuk-label" for="name">
        
      </label>
      <div class="govuk-radios govuk-radios--inline">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="changed-name-1" name="changed-name" type="radio" value="yes">
          <label class="govuk-label govuk-radios__label" for="changed-name-1">
            Add one new provider
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
          <label class="govuk-label govuk-radios__label" for="changed-name-2">
            Add multiple providers
          </label>
        </div>
      </div>
    </div>



       <a href="org-type" class="govuk-button">Continue</a><br>
       <a href="dash" class="govuk-link">Cancel</a>
  </div>
</div>


{% endblock %}
