{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  {% from 'phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "prototype"
},
html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}
<a href="#" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

       <div class="govuk-width-container">
  

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <form action="/form-handler" method="post" novalidate>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  Select the organisation type
                </h1>
              </legend><br>
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-1" name="where-do-you-live" type="radio" value="private-training-provider">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-1">
                    Private training provider
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="college">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                    College
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="local-authority">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                    Local authority
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="large-employer">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
                   Large employer
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-5" name="where-do-you-live" type="radio" value="university">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-5">
                  University
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          
        </form>
      </div>
    </div>
  </main>
</div>


       <a href="search-ukprn" class="govuk-button">Select and continue</a><br>
       <a href="dash" class="govuk-link">Cancel</a>
  </div>
</div>


{% endblock %}
