{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


{% include "./includes/nav.html" %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a id="backlink" href="#" class="govuk-back-link">Back</a>
  </div>
  <div class="govuk-grid-column-one-third">
    <br>
      {% include "./includes/search.html" %}
      {% include "./includes/auto-js.html" %}
  </div>
</div>
<br>
<br>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Advanced search</h1>
  </div>
  
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <span class="govuk-heading-m">Search filter</span>
    <a href="#" class="filter-box-button">
      <span class="govuk-body"><strong>Date</strong></span>
    </a>
    <div class="filter-box hidden">
      <div class="govuk-radios govuk-radios--inline">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="changed-name-1" name="changed-name" type="radio" value="yes">
          <label class="govuk-label govuk-radios__label" for="changed-name-1">
            Yesterday
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
          <label class="govuk-label govuk-radios__label" for="changed-name-2">
            In the past
          </label>
        </div>
      </div>
    </div>

<section class="filter-section">
    <a href="#" class="filter-box-button">
      <span class="govuk-body"><strong>Organisation type</strong></span>
    </a>
    <div class="filter-box hidden">
      <span class="govuk-body">checkboxes here</span>
    </div>
</section>
<section>
    <a href="#" class="filter-box-button">
      <span class="govuk-body"><strong>Status</strong></span>
    </a>
    <div class="filter-box hidden">
      <span class="govuk-body">checkboxes here</span>
    </div>
</section>
<section>
    <a href="#" class="filter-box-button">
      <span class="govuk-body"><strong></strong></span>
    </a>
    <div class="filter-box hidden">
      <span class="govuk-body">checkboxes here</span>
    </div>
</section>
</div>
  <div class="govuk-grid-column-two-thirds">
    <div>
              <!-- <input class="govuk-input govuk-!-width-two-thirds" id="provider-search" name="search-provider"
              type="search" value="Manchester" aria-describedby="provider-search">
              <a href="search-results.html" type="submit" class="govuk-button">Search</a> -->
              <!-- <p>We found 3 results for "Manchester"</p> -->
              <!-- <p>3 results found.</p> -->
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <h3 class="govuk-heading-m"><a href="provider-record.html">Coventry college</a></h3>
              <ul class="govuk-list">
                <li><span class="govuk-!-font-weight-bold">UKPRN:</span> 11122233</li>
                <li><span class="govuk-!-font-weight-bold">Status:</span> Active</li>
              </ul>

              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <h3 class="govuk-heading-m"><a href="provider-record.html">Leamington college</a></h3>
              <ul class="govuk-list">
                <li><span class="govuk-!-font-weight-bold">UKPRN:</span> 44455566</li>
                <li><span class="govuk-!-font-weight-bold">Status:</span> Inactive</li>
              </ul>

              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <h3 class="govuk-heading-m"><a href="provider-record.html">Birmingham university</a></h3>
              <ul class="govuk-list">
                <li><span class="govuk-!-font-weight-bold">UKPRN:</span> 11233456</li>
                <li><span class="govuk-!-font-weight-bold">Status:</span> Merged</li>
              </ul>


  </div>
</div>











{% endblock %}
