{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  {% from 'phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "prototype"
},
html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}
<a href="#" class="govuk-back-link">Back</a><br>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Advanced search</h1>
  </div>
  
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <span class="govuk-heading-m"></span>
    <a href="#" class="filter-box-button">
      <span class="govuk-body"><strong>Filter by status</strong></span>
    </a>
    <section>
    <a href="#" class="filter-box-button">
      <span class="govuk-body"><strong>Status</strong></span>
    </a>
    <div class="filter-box hidden">
      <div class="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-1" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste-1">
         Active
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
        <label class="govuk-label govuk-checkboxes__label" for="waste-2">
          Inactive
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
        <label class="govuk-label govuk-checkboxes__label" for="waste-2">
          Merged
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
        <label class="govuk-label govuk-checkboxes__label" for="waste-2">
          Dissolved
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
        <label class="govuk-label govuk-checkboxes__label" for="waste-3">
          Deleted
        </label>
      </div>
    </div>
    </div>
</section>
<section class="filter-section">
    <a href="#" class="filter-box-button">
      <span class="govuk-body"><strong>Organisation type</strong></span>
    </a>
    <div class="filter-box hidden">
      <div class="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-1" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste-1">
         Academies
        </label>
      </div>

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
        <label class="govuk-label govuk-checkboxes__label" for="waste-2">
          Charities
        </label>
      </div>

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
        <label class="govuk-label govuk-checkboxes__label" for="waste-2">
          Free schools
        </label>
      </div>


      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
        <label class="govuk-label govuk-checkboxes__label" for="waste-2">
          Further education
        </label>
      </div>

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
        <label class="govuk-label govuk-checkboxes__label" for="waste-2">
          Higher education
        </label>
      </div>

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
        <label class="govuk-label govuk-checkboxes__label" for="waste-3">
          Independant schools + colleges
        </label>
      </div>

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
        <label class="govuk-label govuk-checkboxes__label" for="waste-2">
          Local authorities
        </label>
      </div>

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
        <label class="govuk-label govuk-checkboxes__label" for="waste-2">
          NHS
        </label>
      </div>

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
        <label class="govuk-label govuk-checkboxes__label" for="waste-2">
          Private training providers
        </label>
      </div>

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
        <label class="govuk-label govuk-checkboxes__label" for="waste-2">
          Schools
        </label>
      </div>

      

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
        <label class="govuk-label govuk-checkboxes__label" for="waste-2">
          Sixth form centres
        </label>
      </div>

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
        <label class="govuk-label govuk-checkboxes__label" for="waste-2">
          Special colleges
        </label>
      </div>

      
    </div>
    </div>
</section>
<section>
    <a href="#" class="filter-box-button">
      <span class="govuk-body"><strong>Status</strong></span>
    </a>
    <div class="filter-box hidden">
      <div class="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-1" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste-1">
         Active
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
        <label class="govuk-label govuk-checkboxes__label" for="waste-2">
          Inactive
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
        <label class="govuk-label govuk-checkboxes__label" for="waste-2">
          Merged
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
        <label class="govuk-label govuk-checkboxes__label" for="waste-2">
          Dissolved
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
        <label class="govuk-label govuk-checkboxes__label" for="waste-3">
          Deleted
        </label>
      </div>
    </div>
    </div>
</section>

</div>
  <div class="govuk-grid-column-two-thirds">
    <div>
              <!-- <input class="govuk-input govuk-!-width-two-thirds" id="provider-search" name="search-provider"
              type="search" value="Manchester" aria-describedby="provider-search">
              <a href="search-results.html" type="submit" class="govuk-button">Search</a> -->
              <!-- <p>We found 3 results for "Manchester"</p> -->
              <!-- <p>3 results found.</p> -->
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <h3 class="govuk-heading-m"><a href="provider-coventry.html">Coventry college</a></h3>
              <ul class="govuk-list">
                <li><span class="govuk-!-font-weight-bold">UKPRN:</span> 11122233</li>
                <li><span class="govuk-!-font-weight-bold">Status:</span> Active</li>
              </ul>

              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <h3 class="govuk-heading-m"><a href="provider-record.html">Leamington college</a></h3>
              <ul class="govuk-list">
                <li><span class="govuk-!-font-weight-bold">UKPRN:</span> 44455566</li>
                <li><span class="govuk-!-font-weight-bold">Status:</span> Inactive</li>
              </ul>

              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <h3 class="govuk-heading-m"><a href="provider-record.html">Birmingham university</a></h3>
              <ul class="govuk-list">
                <li><span class="govuk-!-font-weight-bold">UKPRN:</span> 11233456</li>
                <li><span class="govuk-!-font-weight-bold">Status:</span> Merged</li>
              </ul>

              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


  </div>
</div>











{% endblock %}
