{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  {% from 'phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "prototype"
},
html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}
<a href="#" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

       
<h1 class="govuk-heading-xl">Search for a UKPRN</h1>



       <div class="govuk-form-group">
          <label class="govuk-label" for="name">
          Enter the name or UKPRN
          </label>
          <input class="govuk-input govuk-input--width-20" id="name" name="name" type="text">
        </div>

        <div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <dl class="govuk-summary-list">
  
  
  
  
</dl><hr><br>
       


<h2 class="govuk-heading-l">Total People Limited</h2>
<p class="govuk-body-l">UKPRN: 10021755</p>
<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      
    </dt>
    <dd class="govuk-summary-list__value">
      
    </dd>
    
  </div>

       
  </div>
</div>



       <a href="provider-total" class="govuk-button">Select and add</a><br>
       

  </div>
</div>


{% endblock %}
