{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


{% include "./includes/nav.html" %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a id="backlink" href="#" class="govuk-back-link">Back</a>
  </div>
  <div class="govuk-grid-column-one-third">
    <br>
      {% include "./includes/search.html" %}
      {% include "./includes/auto-js.html" %}
  </div>
</div>
<br>
<br>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Organisations added</h1>
  </div>
  
</div>
<br>
<br>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="border-top ">
      <h2 class="govuk-heading-m">May 2019</h2>
      <span class="govuk-heading-l no-margin-bottom">R06</span>
      <!-- <span class="govuk-body-s">Closing date 4 February</span><br> -->
      <span class="govuk-body-s">4 days remaining</span>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="border-top">
      <h2 class="govuk-heading-m">Closing date</h2>
      <span class="govuk-heading-l no-margin-bottom">10 February</span>
      <!-- <span class="govuk-body-s">Submissions closed</span><br> -->
      <span class="govuk-body-s">6:00pm</span>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="border-top">
      <h2 class="govuk-heading-m">Last submission</h2>
      <span class="govuk-heading-l no-margin-bottom">6:07pm</span>
      <!-- <span class="govuk-body-s">Submissions closed</span><br> -->
      <span class="govuk-body-s">by Bob Afflett</span>
    </div>
  </div>

  <!-- <div class="govuk-grid-column-one-third">
    <div class="border-top">
      <h2 class="govuk-heading-m"><a class="" href="#">ILR Periodic</a></h2>
      <span class="govuk-heading-xl no-margin-bottom">344</span>
      <span class="govuk-body-s">Submissions closed</span><br>
      <span class="govuk-body-s">Last period R03</span>
    </div>
  </div> -->

</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">

    <ul class="govuk-list">
      <!-- <li>
        <a href="#" class="govuk-link">Create monitoring schedule</a>
      </li> -->
      <!-- <li>
        <a href="ILR-opening-closing" class="govuk-link">Create opening and closing times</a>
      </li> -->
      <!-- <li>
        <a href="#" class="govuk-link">Amend dates</a>
      </li> -->
      <!-- <li>
        <a href="#" class="govuk-link">Enable submissions</a>
      </li> -->
      <li>
        <a href="#" class="govuk-link">Pause collection</a>
      </li>
      <li>
        <a href="#" class="govuk-link">Unpublish collection</a>
      </li>
      <li>
        <a href="#" class="govuk-link">Record number displayed</a>
      </li>
    </ul>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Status</th>
          <th class="govuk-table__header" scope="col">Dates</th>
          <th class="govuk-table__header" scope="col">Task</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Completed</th>
          <td class="govuk-table__cell">1 June<strong></strong></td>
          <td class="govuk-table__cell"><a href="manage-R05" class="govuk-link">Manage</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Failed</th>
          <td class="govuk-table__cell">17 June<strong></strong></td>
          <td class="govuk-table__cell"><a href="manage-R05" class="govuk-link">Manage</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Completed</th>
          <td class="govuk-table__cell">3 July<strong></strong></td>
          <td class="govuk-table__cell"><a href="manage-R05" class="govuk-link">Manage</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Failed</th>
          <td class="govuk-table__cell">3 July<strong></strong></td>
          <td class="govuk-table__cell"><a href="manage-R05" class="govuk-link">Manage</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Completed</th>
          <td class="govuk-table__cell">4 September<strong></strong></td>
          <td class="govuk-table__cell"><a href="manage-R05" class="govuk-link">Manage</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Completed</th>
          <td class="govuk-table__cell">7 January</td>
          <td class="govuk-table__cell"><a href="manage-R06" class="govuk-link">Manage</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Completed</th>
          <td class="govuk-table__cell">3 July</td>
          <td class="govuk-table__cell"><a href="manage-R06" class="govuk-link">Manage</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Completed</th>
          <td class="govuk-table__cell">3 July</td>
          <td class="govuk-table__cell"><a href="manage-R06" class="govuk-link">Manage</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Completed</th>
          <td class="govuk-table__cell">3 July</td>
          <td class="govuk-table__cell"><a href="manage-R06" class="govuk-link">Manage</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Completed</th>
          <td class="govuk-table__cell">3 July</td>
          <td class="govuk-table__cell"><a href="manage-R06" class="govuk-link">Manage</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Completed</th>
          <td class="govuk-table__cell">3 July</td>
          <td class="govuk-table__cell"><a href="manage-R06" class="govuk-link">Manage</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Completed</th>
          <td class="govuk-table__cell">3 July</td>
          <td class="govuk-table__cell"><a href="manage-R06" class="govuk-link">Manage</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Completed</th>
          <td class="govuk-table__cell">3 July</td>
          <td class="govuk-table__cell"><a href="manage-R06" class="govuk-link">Manage</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Completed</th>
          <td class="govuk-table__cell">3 July</td>
          <td class="govuk-table__cell"><a href="manage-R06" class="govuk-link">Manage</a></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>










{% endblock %}
