{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<!--<div class="main-nav">
  <a class="govuk-heading-s" href="dashboard">Activity</a>
  <a class="govuk-heading-s" href="manage-collections">Collections</a>
  <a class="govuk-heading-s" href="#">Provider(s)</a> 
</div> -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Manage provider records</h1>
</div>
</div>





<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="border-top ">
      <h2 class="govuk-heading-m"><a class="" href="#">Create a provider record</a></h2>
      <!-- <span class="govuk-heading-xl no-margin-bottom">2</span> -->
      
      <span class="govuk-body-s">Edit a provider record</span><br>
      <span class="govuk-body-s">Delete a provider record</span><br>
      <span class="govuk-body-s"></span>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="border-top">
      <h2 class="govuk-heading-m"><a class="" href="#">Add a funding factor</a></h2>
      <!-- <span class="govuk-heading-xl no-margin-bottom">344</span> -->
      <span class="govuk-body-s">Delete a funding factor</span><br>
      <span class="govuk-body-s">Terminate a funding agreement</span><br>
      <span class="govuk-body-s"></span>
    </div>
  </div>

</div>
<br>
<br>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="border-top">
      <h2 class="govuk-heading-m"><a class="" href="#">Create a MAT</a></h2>
      <!-- <span class="govuk-heading-xl no-margin-bottom">4</span> -->
      <span class="govuk-body-s">Edit the status of a MAT</span><br>
      <span class="govuk-body-s">Add an academy to a MAT</span><br>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="border-top ">
      <h2 class="govuk-heading-m"><a class="" href="#">Edit a Multi Academy Trust</a></h2>
      <!-- <span class="govuk-heading-xl no-margin-bottom">18</span> -->
      <span class="govuk-body-s">Edit the status of a MAT</span><br>
      <span class="govuk-body-s">Add an academy to a MAT</span><br>
      <span class="govuk-body-s"></span>
    </div>
  </div>
 </div>


{% endblock %}
