{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  {% from 'phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "prototype"
},
html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}
<a href="#" class="govuk-back-link">Back</a><br>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full"><br>
   <br> <span class="govuk-caption-xl">UKPRN: 10003010</span>
      
       <h1 class="govuk-heading-xl">House of Clive (Hair and Beauty) Limited</h1> 

<br>

 <h1 class="govuk-heading-l">Funding factors</h1>

<table class="govuk-table">
         <!-- <caption class="govuk-table__caption">Here are the providers to add:</caption> -->
         <thead class="govuk-table__head">
           <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Name</th>
             <th class="govuk-table__header" scope="col">Description</th>
             <th class="govuk-table__header" scope="col">Created</th>
             <th class="govuk-table__header" scope="col">Year</th>
           </tr>
         </thead>
         <tbody class="govuk-table__body">
           <tr class="govuk-table__row">
             <th class="govuk-table__cell" scope="row">Programme weighting</th>
             <td class="govuk-table__cell">16-19 Historic programme cost weighting factor</td>
             <td class="govuk-table__cell ">4 July 2019</td>
             <td class="govuk-table__cell govuk-summary-list__actions">2020</td>
           </tr>
           <tr class="govuk-table__row">
             <th class="govuk-table__cell" scope="row">Area cost factor</th>
             <td class="govuk-table__cell">16-19 Historic area cost factor</td>
             <td class="govuk-table__cell">4 July 2019</td>
             <td class="govuk-table__cell govuk-summary-list__actions">2020</td>
           </tr>
           <tr class="govuk-table__row">
             <th class="govuk-table__cell" scope="row">Disadvantage proportion</th>
             <td class="govuk-table__cell">16-19 Historic disadvantage funding proportion</td>
             <td class="govuk-table__cell ">4 July 2019</td>
             <td class="govuk-table__cell govuk-summary-list__actions">2020</td>
           </tr>
           <tr class="govuk-table__row">
             <th class="govuk-table__cell" scope="row">Retention factor</th>
             <td class="govuk-table__cell">16-19 Historic retention factor</td>
             <td class="govuk-table__cell ">4 July 2019</td>
             <td class="govuk-table__cell govuk-summary-list__actions">2020</td>
           </tr>
           <tr class="govuk-table__row">
             <th class="govuk-table__cell" scope="row">Large programme proportion</th>
             <td class="govuk-table__cell">16-19 Historic large programme proportion</td>
             <td class="govuk-table__cell ">4 July 2019</td>
             <td class="govuk-table__cell govuk-summary-list__actions">2020</td>
           </tr>
           <tr class="govuk-table__row">
             <th class="govuk-table__cell" scope="row">Directly funded employer</th>
             <td class="govuk-table__cell">Directly funded employer</td>
             <td class="govuk-table__cell ">4 July 2019</td>
             <td class="govuk-table__cell govuk-summary-list__actions">2020</td>
           </tr>
           
         </tbody>
       </table><br>
       <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row" id="no-border-bottom">
      
    
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="funding-factors-history">View funding factor history</a>
    </dd>
  </div>
</dl>


       <a href="provider-coventry2" class="govuk-button">Back</a><br>
       <!--<a href="dash" class="govuk-link">Cancel</a>-->
  </div>
</div>


{% endblock %}
