{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  {% from 'phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "prototype"
},
html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}
<a href="#" class="govuk-back-link">Back</a><br>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full"><br>
   <br> <span class="govuk-caption-xl">UKPRN: 10005426</span>
      
       <h1 class="govuk-heading-xl">House of Clive (Hair and Beauty) Limited</h1>
       
      

        
  

<h1 class="govuk-heading-l">Funding history</h1>

 <table class="govuk-table">
         
         <thead class="govuk-table__head">
           <tr class="govuk-table__row">
             <th class="govuk-table__header" scope="col">Name</th>
             <th class="govuk-table__header" scope="col">Start date</th>
             <th class="govuk-table__header govuk-table__cell--numeric" scope="col">End date</th>
           </tr>
         </thead>
         <tbody class="govuk-table__body">

           <tr class="govuk-table__row">
             <th class="govuk-table__cell" scope="row">24+ Advanced learner loans facility</th>
             <td class="govuk-table__cell ">12 September 2017</td>
             <td class="govuk-table__cell govuk-table__cell--numeric">12 August 2019</td>
           </tr>
           <tr class="govuk-table__row">
             <th class="govuk-table__cell" scope="row">24+ Advanced learner bursary - college</th>
             <td class="govuk-table__cell ">12 September 2015</td>
             <td class="govuk-table__cell govuk-table__cell--numeric">
      12 August 2019</td>
           </tr>
           <tr class="govuk-table__row">
             <th class="govuk-table__cell" scope="row">Adult skills - college</th>
             <td class="govuk-table__cell ">12 September 2015</td>
             <td class="govuk-table__cell govuk-table__cell--numeric">
      12 August 2019</td>
           </tr>
           <tr class="govuk-table__row">
             <th class="govuk-table__cell" scope="row">Apprenticeship levy</th>
             <td class="govuk-table__cell ">1 March 2019</td>
             <td class="govuk-table__cell govuk-table__cell--numeric">
      12 August 2019</td>
      
      <tr class="govuk-table__row">
             <th class="govuk-table__cell" scope="row">16-18 Apprenticeships</th>
             <td class="govuk-table__cell ">12 September 2014</td>
             <td class="govuk-table__cell govuk-table__cell--numeric">
      12 August 2019</td>
           </tr>
           <tr class="govuk-table__row">
             <th class="govuk-table__cell" scope="row">16-19 Learner responsive</th>
             <td class="govuk-table__cell ">12 July 2016</td>
             <td class="govuk-table__cell govuk-table__cell--numeric">
      12 August 2019</td>

      <tr class="govuk-table__row">
             <th class="govuk-table__cell" scope="row">Learner support</th>
             <td class="govuk-table__cell ">12 July 2014</td>
             <td class="govuk-table__cell govuk-table__cell--numeric">
      12 August 2019</td>
           </tr>
           <tr class="govuk-table__row">
             <th class="govuk-table__cell" scope="row">Non mainstrean funding EFA</th>
             <td class="govuk-table__cell ">12 May 2016</td>
             <td class="govuk-table__cell govuk-table__cell--numeric">
      12 August 2019</td>

      

<tr class="govuk-table__row">
             <th class="govuk-table__cell" scope="row">16-19 Learner responsive</th>
             <td class="govuk-table__cell ">12 August 2016</td>
             <td class="govuk-table__cell govuk-table__cell--numeric">
      13 July 2017</td>

           </tr>
      </td>
           </tr>
           </tr>
         </tbody>
       </table><dl class="govuk-summary-list">
    
</dl>

<a href="16-19-submitted.html" role="button" class="govuk-link pagination">
     <svg class="gem-c-pagination__link-icon" height="13" width="17" viewBox="0 0 17 13">
       <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
     </svg>
     <span class="next-link govuk-!-font-size-19">Next</span><br>
     <span class="#"></span>
   </a>
       
       
  </div>
</div>


{% endblock %}
