{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  {% from 'phase-banner/macro.njk' import govukPhaseBanner %}

{{ govukPhaseBanner({
tag: {
text: "alpha"
},
html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        

            </div>
        </div>


 
  
    <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Would you like support during the test?
      </h1>
    </legend>
    <span id="waste-hint" class="govuk-hint">
       If English is your second language you may like the free service of ...
    </span>
    <div class="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-1" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste-1">
          I would like to see the questions and answers in British Sign Language on the screen
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
        <label class="govuk-label govuk-checkboxes__label" for="waste-2">
          I would like to hear the question read to me via headphones
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
        <label class="govuk-label govuk-checkboxes__label" for="waste-3">
          I'd like to see a list of the support you offer 
        </label>
      </div>
    </div>
  </fieldset>
</div>
  
<a href="find" class="govuk-button" type="submit">Continue</a>


<!--<h3 class="govuk-heading-m">Problems signing in?</h3>-->

    

    
</div>

</div>



    </main>

{% endblock %}