{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  alpha
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        

            </div>
        </div>


 
  <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">Which test?</h1>
    </legend>
    <span id="sign-in-hint" class="govuk-hint">
      Select the test you want to book
    </span>
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sign-in-1" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-1-item-hint">
        <label class="govuk-label govuk-radios__label govuk-label--s" for="sign-in-1">
          Car catagory A/P/AM
        </label>
        <span id="sign-in-1-item-hint" class="govuk-hint govuk-radios__hint">
          £25
        </span>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sign-in-2" name="sign-in" type="radio" value="govuk-verify" aria-describedby="sign-in-2-item-hint">
        <label class="govuk-label govuk-radios__label govuk-label--s" for="sign-in-2">
          Motorcycle catagory A/P/AM
        </label>
        <span id="sign-in-2-item-hint" class="govuk-hint govuk-radios__hint">
          £25
        </span>
      </div>
    </div>
  </fieldset>
</div>
<a href="details" class="govuk-button" type="submit">Save and continue</a>


<!--<h3 class="govuk-heading-m">Problems signing in?</h3>-->

    

    
</div>

</div>



    </main>

{% endblock %}