{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  {% from 'phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "prototype"
},
html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}
<a href="#" class="govuk-back-link">Back</a><br>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full"><br>
   <br> <span class="govuk-caption-xl govuk-red">UKPRN: 10003010</span>
      
       <h1 class="govuk-heading-xl">Coventry College</h1>
       
      

        
  <dl class="govuk-summary-list">
      
<div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Status
      </dt>
    <dd class="govuk-summary-list__value">
   Active
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change
        <span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>
  </div>


 

 

  <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      UPIN
      </dt>
    <dd class="govuk-summary-list__value">
     234555
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="academy-propose">
        
        <span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>
  </div>

 

  <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      URN
      </dt>
    <dd class="govuk-summary-list__value">
     147111
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="academy-propose">
        
        <span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      DfE number
      </dt>
    <dd class="govuk-summary-list__value">
     330/2204
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="academy-propose">
        
        <span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>
  </div>

  

  

   <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Organisation type
      </dt>
    <dd class="govuk-summary-list__value">
        Academy sponsor led
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        
        <span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Verification
      </dt>
    <dd class="govuk-summary-list__value">
        Companies House 1123344
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        
        <span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>
  </div>



  
<div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Trading name
      </dt>
    <dd class="govuk-summary-list__value">
      Coventry City College 
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        
        <span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>
  </div>
   

   <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Address
      </dt>
    <dd class="govuk-summary-list__value">
      Henley Road, Bell Green
      <br>Coventry, West Midlands, CV2 1ED
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
       
        <span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>
  </div>
  

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Phone number
    </dt>
    <dd class="govuk-summary-list__value">
      <p class="govuk-body">02476 932932</p>
      <p class="govuk-body"></p>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        
        <span class="govuk-visually-hidden"> contact details</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Head of Organisation
    </dt>
    <dd class="govuk-summary-list__value">
      Mr Peter Brammall
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        
        <span class="govuk-visually-hidden"> date of birth</span>
      </a>
    </dd>
  </div>
  
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Contact details
    </dt>
    <dd class="govuk-summary-list__value">
      <p class="govuk-body">0789 006 7755</p>
      <p class="govuk-body">pbrammall@example.com</p>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        
        <span class="govuk-visually-hidden"> contact details</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Academy Trust
    </dt>
    <dd class="govuk-summary-list__value">
      <p class="govuk-body">Academies Enterprise Trust</p>
      <p class="govuk-body"></p>
      
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        
        <span class="govuk-visually-hidden"></span>
      </a>
    </dd>
  </div>

</dl><br><br>

 <h1 class="govuk-heading-m">Funding</h1>


<dl class="govuk-summary-list">

  <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Funding type
      </dt>
    <dd class="govuk-summary-list__value">
      Direct
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        
        <span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>
  </div>
      
<div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Formula funded
      </dt>
    <dd class="govuk-summary-list__value">
      16-18 Apprenticeships
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Close on 20.09.2019
        
        <span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      
      </dt>
    <dd class="govuk-summary-list__value">
      16-19 Learner responsive
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Close
        
        <span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      
      </dt>
    <dd class="govuk-summary-list__value">
      24+ Advanced learner loans facility
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Close
        
        <span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      
      </dt>
    <dd class="govuk-summary-list__value">
      24+ Advanced learner loans bursary - college
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Close
      
        <span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>
  </div>

   <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      
      </dt>
    <dd class="govuk-summary-list__value">
      Adult skills - college
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Close
      
        <span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      
      </dt>
    <dd class="govuk-summary-list__value">
      Apprenticeship levy
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Close
      
        <span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      
      </dt>
    <dd class="govuk-summary-list__value">
      Apprenticeship non levy procured
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Close
      
        <span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>
  </div><br><br>







      <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Non formula funded
      </dt>
    <dd class="govuk-summary-list__value">
   Learner support
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Close
        
        <span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      
      </dt>
    <dd class="govuk-summary-list__value">
      Non mainstream funding EFA
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Close
      
        <span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>
  </div>


<br><br>

</dl>


       <a href="advanced-search" class="govuk-button">Back</a><br>
       <!--<a href="dash" class="govuk-link">Cancel</a>-->
  </div>
</div>


{% endblock %}
