{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <a id="backlink" href="#" class="govuk-back-link">Back</a>
 
  
  <br><br><p></p>

        <h1 class="govuk-heading-l">Errors</h1>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              <strong>Organisation</strong>
            </dt>
            <dd class="govuk-summary-list__value">
              <strong>UKPRN</strong>
            </dd>
            <dd class="govuk-summary-list__value">
              <strong>Postcode</strong>
            </dd>
            <dd class="govuk-summary-list__value">
              <strong>System</strong>
            </dd>
            <dd class="govuk-summary-list__value">
              <strong>Error</strong>
            </dd>
            <dd class="govuk-summary-list__value">
              <strong>Error date</strong>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              Welbourne Primary School
            </dt>
            <dd class="govuk-summary-list__value">
              
            </dd>
            <dd class="govuk-summary-list__value">
              PE4 6NR
            </dd>
            <dd class="govuk-summary-list__value">
              UKRLP
            </dd>
            <dd class="govuk-summary-list__value">
              Name not found
            </dd>
            <dd class="govuk-summary-list__value">
              25.8.2019
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              Coventry Council
            </dt>
            <dd class="govuk-summary-list__value">
              100556677
            </dd>
            <dd class="govuk-summary-list__value">
              BL4 4LL
            </dd>
            <dd class="govuk-summary-list__value">
              UKRLP
            </dd>
            <dd class="govuk-summary-list__value">
              Companies House verification
            </dd>
            <dd class="govuk-summary-list__value">
              25.8.2019
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              Very Good Training Limited
            </dt>
            <dd class="govuk-summary-list__value">
              100998877
            </dd>
            <dd class="govuk-summary-list__value">
              CV5 7ED
            </dd>
            <dd class="govuk-summary-list__value">
              GIAS
            </dd>
            <dd class="govuk-summary-list__value">
              Postcode mismatch
            </dd>
            <dd class="govuk-summary-list__value">
              25.8.2019
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              St Josephs and St Gregorys<br>Catholic Primary School
            </dt>
            <dd class="govuk-summary-list__value">
              100998855
            </dd>
            <dd class="govuk-summary-list__value">
              B5 6ED
            </dd>
            <dd class="govuk-summary-list__value">
              GIAS
            </dd>
            <dd class="govuk-summary-list__value">
              UKRLP mismatch
            </dd>
            <dd class="govuk-summary-list__value">
              25.8.2019
            </dd>
          </div>

        </dl>




        <br><br>

        <h1 class="govuk-heading-l">Fixed errors</h1>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              <strong>Organisation</strong>
            </dt>
            <dd class="govuk-summary-list__value">
              <strong>UKPRN</strong>
            </dd>
            <dd class="govuk-summary-list__value">
              <strong>Postcode</strong>
            </dd>
            <dd class="govuk-summary-list__value">
              <strong>Origin</strong>
            </dd>
            <dd class="govuk-summary-list__value">
              <strong>Error</strong>
            </dd>
            <dd class="govuk-summary-list__numeric">
              <strong>Fixed date</strong>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              Holy Family Primary School
            </dt>
            <dd class="govuk-summary-list__value">
              
            </dd>
            <dd class="govuk-summary-list__value">
              PE4 6NR
            </dd>
            <dd class="govuk-summary-list__value">
              UKRLP
            </dd>
            <dd class="govuk-summary-list__value">
              Name not found
            </dd>
            <dd class="govuk-summary-list__numeric">
              2.2.2019
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              York Community College
            </dt>
            <dd class="govuk-summary-list__value">
              100556677
            </dd>
            <dd class="govuk-summary-list__value">
              BL4 4LL
            </dd>
            <dd class="govuk-summary-list__value">
              UKRLP
            </dd>
            <dd class="govuk-summary-list__value">
              Companies House verification
            </dd>
            <dd class="govuk-summary-list__numeric">
              21.2.2019
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              Very Good Training Limited
            </dt>
            <dd class="govuk-summary-list__value">
              100998877
            </dd>
            <dd class="govuk-summary-list__value">
              CV5 7ED
            </dd>
            <dd class="govuk-summary-list__value">
              GIAS
            </dd>
            <dd class="govuk-summary-list__value">
              Postcode mismatch
            </dd>
            <dd class="govuk-summary-list__numeric">
              12.1.2019
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              Learn Well Training Limited
            </dt>
            <dd class="govuk-summary-list__value">
              100998855
            </dd>
            <dd class="govuk-summary-list__value">
              B5 6ED
            </dd>
            <dd class="govuk-summary-list__value">
              GIAS
            </dd>
            <dd class="govuk-summary-list__value">
              UKRLP mismatch
            </dd>
            <dd class="govuk-summary-list__numeric">
              7.1.2019
            </dd>
          </div>

        </dl>
        <table class="govuk-table">
  <caption class="govuk-table__caption"></caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Name</th>
      <th class="govuk-table__header" scope="col">UKPRN</th>
      <th class="govuk-table__header" scope="col">Postcode</th>
      <th class="govuk-table__header" scope="col">Origin</th>
      <th class="govuk-table__header" scope="col">Error</th>
      <th class="govuk-table__header" scope="col">Date</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Welbourne Primary School</th>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell">PE4 6NR</td>
      <td class="govuk-table__cell">GIAS</td>
      <td class="govuk-table__cell">Name not found</td>
      <td class="govuk-table__cell">1.2.2019</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Coventry Council</th>
      <td class="govuk-table__cell">100556677</td>
      <td class="govuk-table__cell">CV5 7ED</td>
      <td class="govuk-table__cell">UKRLP</td>
      <td class="govuk-table__cell">Postcode mismatch</td>
      <td class="govuk-table__cell">11.2.2019</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Very Good Training Limited</th>
      <td class="govuk-table__cell">100998877</td>
      <td class="govuk-table__cell">BL4 4LL</td>
      <td class="govuk-table__cell">UKRLP</td>
      <td class="govuk-table__cell">Companies House verification</td>
      <td class="govuk-table__cell">1.3.2019</td>
    </tr>

     <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">St Josephs and St Gregorys<br>
Catholic Primary School</th>
      <td class="govuk-table__cell">100998855</td>
      <td class="govuk-table__cell">B5 6ED</td>
      <td class="govuk-table__cell">GIAS</td>
      <td class="govuk-table__cell">UKRLP mismatch</td>
      <td class="govuk-table__cell">20.3.2019</td>
    </tr>
  </tbody>
</table>

 </div>


    </div>
  </div>



{% endblock %}
Collapse



