{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  {% from 'phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "prototype"
},
html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}
<a href="#" class="govuk-back-link">Back</a><br>

{% endblock %}

{% block content %}

<br>
<br>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">You’ve uploded funding factors for 16-19 allocations 2020/2021</h1>
  </div>
  
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <table class="govuk-table">
         <!-- <caption class="govuk-table__caption">Here are the providers to add:</caption> -->
         <thead class="govuk-table__head">
           <tr class="govuk-table__row">
             <th class="govuk-table__header" scope="col">Provider name</th>
             <th class="govuk-table__header " scope="col">UKPRN</th>
             <th class="govuk-table__header " scope="col">Funding</th>
           </tr>
         </thead>
         <tbody class="govuk-table__body">
           <tr class="govuk-table__row">
             <th class="govuk-table__cell" scope="row">Coventry university</th>
             <td class="govuk-table__cell ">12345678</td>
             <td class="govuk-table__cell ">3</td>
           </tr>
           <tr class="govuk-table__row">
             <th class="govuk-table__cell" scope="row">Manchester university</th>
             <td class="govuk-table__cell ">00004545</td>
             <td class="govuk-table__cell ">3</td>
           </tr>
           <tr class="govuk-table__row">
             <th class="govuk-table__cell" scope="row">Coventry college</th>
             <td class="govuk-table__cell ">00001234</td>
             <td class="govuk-table__cell ">3</td>
           </tr>
           <tr class="govuk-table__row">
             <th class="govuk-table__cell" scope="row">Leicester university</th>
             <td class="govuk-table__cell ">12345678</td>
             <td class="govuk-table__cell ">3</td>
           </tr>
           <tr class="govuk-table__row">
             <th class="govuk-table__cell" scope="row">Demontfort university</th>
             <td class="govuk-table__cell ">00004545</td>
             <td class="govuk-table__cell ">3</td>
           </tr>
           <tr class="govuk-table__row">
             <th class="govuk-table__cell" scope="row">Fork lift truck training company</th>
             <td class="govuk-table__cell ">00001234</td>
             <td class="govuk-table__cell ">3</td>
           </tr>
         </tbody>
       </table><br><br>


       <h2 class="govuk-heading-m">Funding factors that couldn't be added</h2><br>
    <table class="govuk-table">

         <thead class="govuk-table__head">
           <tr class="govuk-table__row">
             <th class="govuk-table__header" scope="col">Provider name</th>
             <th class="govuk-table__header " scope="col">UKPRN</th>
             <th class="govuk-table__header " scope="col">Reason</th>
           </tr>
         </thead>
         <tbody class="govuk-table__body">
           <tr class="govuk-table__row">
             <th class="govuk-table__header" scope="row">Swing training company</th>
             <td class="govuk-table__cell ">12345678</td>
             <td class="govuk-table__cell ">Wrong this</td>
           </tr>
           <tr class="govuk-table__row">
             <th class="govuk-table__header" scope="row">Learning training limited</th>
             <td class="govuk-table__cell ">00004545</td>
             <td class="govuk-table__cell ">Wrong that</td>
           </tr>
           <tr class="govuk-table__row">
             <th class="govuk-table__header" scope="row">South Warwickshire training company</th>
             <td class="govuk-table__cell ">00001234</td>
             <td class="govuk-table__cell ">Wrong everything</td>
           </tr>
         </tbody>
       </table>




       <a href="dash3" class="govuk-button">Back</a>

  </div>
</div>


{% endblock %}
