{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a id="backlink" href="#" class="govuk-back-link">Back</a>
  </div>
 
</div>
<br>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    
      <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Service now report
      </h1>
    </legend>
    <span id="waste-hint" class="govuk-hint">
      Created for Ruth Brown
    </span>
    
  </fieldset>
</div>
      <a href="service-now" class="govuk-button ">Search</a>
      <hr>
  </div>
</div><br>




<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Popular report
      </h1>
    </legend>
    <span id="waste-hint" class="govuk-hint">
      Created for Lynne Burdon
    </span>
    
  </fieldset>
</div>

      <a href="query-results" class="govuk-button ">Search</a>
      <hr>
  </div>
</div><br>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Status check
      </h1>
    </legend>
    <span id="waste-hint" class="govuk-hint">
      Created for Kam Thandi
    </span>
    
  </fieldset>
</div>

      <a href="status-check" class="govuk-button ">Search</a>
      <hr>
  </div>
</div>










{% endblock %}