{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  {% from 'phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "prototype"
},
html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}
<a href="#" class="govuk-back-link">Back</a><br>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Service Now report</h1> 
    <h3 class="download-link" align="right"><a href="/public/images/report2.csv" target="_blank">Download this report as a CSV </a></h3> 
</div>

</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <span class="govuk-heading-m"></span>
    <a href="#" class="filter-box-button">
      <span class="govuk-body"><strong>Saved report</strong></span>
    </a>
    <section>
    <a href="#" class="filter-box-button">
      <span class="govuk-body"><strong></strong></span>
    </a>
    <div class="filter-box hidden">
      <div class="govuk-checkboxes">

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
        <label class="govuk-label govuk-checkboxes__label" for="waste-2">
          UPIN
        </label>
      </div>

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
        <label class="govuk-label govuk-checkboxes__label" for="waste-2">
          UKPRN
        </label>
      </div>

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
        <label class="govuk-label govuk-checkboxes__label" for="waste-2">
          Legal name
        </label>
      </div>

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
        <label class="govuk-label govuk-checkboxes__label" for="waste-2">
         Trading name
        </label>
      </div>


      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
        <label class="govuk-label govuk-checkboxes__label" for="waste-2">
          Status
        </label>
      </div>

      
      
    </div>
    </div>
</section>

<!--<section>
    <a href="#" class="filter-box-button">
      <span class="govuk-body"><strong>Funding type</strong></span>
    </a>
    <div class="filter-box hidden">
      <div class="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-1" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste-1">
         Adult skills
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
        <label class="govuk-label govuk-checkboxes__label" for="waste-2">
          16-19 learner responsive funding
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
        <label class="govuk-label govuk-checkboxes__label" for="waste-2">
          24+ advanced learner loans facility
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
        <label class="govuk-label govuk-checkboxes__label" for="waste-2">
          16-18 apprenticeships
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
        <label class="govuk-label govuk-checkboxes__label" for="waste-3">
          Learner support - hardship
        </label>
      </div>
    </div>
    </div>
</section>-->

</div>

  <div class="govuk-grid-column-two-thirds">
    <div>
               <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <h3 class="govuk-heading-m"><a href="provider-coventry2.html">Coventry College</a></h3>
              <ul class="govuk-list">
                <li><span class="govuk-!-font-weight-bold">UPIN:</span> 106441</li>
                <li><span class="govuk-!-font-weight-bold">UKPRN:</span> 10003010</li>
                <li><span class="govuk-!-font-weight-bold">Legal name:</span> 106441</li>
                <li><span class="govuk-!-font-weight-bold">Trading name:</span> 106441</li>
                <li><span class="govuk-!-font-weight-bold">Status:</span> Active</li>
              </ul>


              

              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <h3 class="govuk-heading-m"><a href="provider-record.html">Coventry City Council</a></h3>
              <ul class="govuk-list">
                <li><span class="govuk-!-font-weight-bold">UPIN:</span> 106441</li>
                <li><span class="govuk-!-font-weight-bold">UKPRN:</span> 10003010</li>
                <li><span class="govuk-!-font-weight-bold">Legal name:</span> 106441</li>
                <li><span class="govuk-!-font-weight-bold">Trading name:</span> 106441</li>
                <li><span class="govuk-!-font-weight-bold">Status:</span> Active</li>
              </ul>

              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


              <h3 class="govuk-heading-m"><a href="provider-record.html">Coventry University</a></h3>
              <ul class="govuk-list">
                <li><span class="govuk-!-font-weight-bold">UPIN:</span> 106441</li>
                <li><span class="govuk-!-font-weight-bold">UKPRN:</span> 10003010</li>
                <li><span class="govuk-!-font-weight-bold">Legal name:</span> 106441</li>
                <li><span class="govuk-!-font-weight-bold">Trading name:</span> 106441</li>
                <li><span class="govuk-!-font-weight-bold">Status:</span> Active</li>
              </ul>

              

              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <h3 class="govuk-heading-m"><a href="provider-coventry2.html">Deadbeat Training Company</a></h3>
              <ul class="govuk-list">
                <li><span class="govuk-!-font-weight-bold">UPIN:</span> 106441</li>
                <li><span class="govuk-!-font-weight-bold">UKPRN:</span> 10003010</li>
                <li><span class="govuk-!-font-weight-bold">Legal name:</span> 106441</li>
                <li><span class="govuk-!-font-weight-bold">Trading name:</span> 106441</li>
                <li><span class="govuk-!-font-weight-bold">Status:</span> Active</li>
              </ul>


              

              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <h3 class="govuk-heading-m"><a href="provider-record.html">Dangerously Good Training Ltd</a></h3>
              <ul class="govuk-list">
                <li><span class="govuk-!-font-weight-bold">UPIN:</span> 106441</li>
                <li><span class="govuk-!-font-weight-bold">UKPRN:</span> 10003010</li>
                <li><span class="govuk-!-font-weight-bold">Legal name:</span> 106441</li>
                <li><span class="govuk-!-font-weight-bold">Trading name:</span> 106441</li>
                <li><span class="govuk-!-font-weight-bold">Status:</span> Active</li>
              </ul>

              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


              <h3 class="govuk-heading-m"><a href="provider-record.html">Eat Up Catering Training Ltd</a></h3>
              <ul class="govuk-list">
                <li><span class="govuk-!-font-weight-bold">UPIN:</span> 106441</li>
                <li><span class="govuk-!-font-weight-bold">UKPRN:</span> 10003010</li>
                <li><span class="govuk-!-font-weight-bold">Legal name:</span> 106441</li>
                <li><span class="govuk-!-font-weight-bold">Trading name:</span> 106441</li>
                <li><span class="govuk-!-font-weight-bold">Status:</span> Active</li>
              </ul>

              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        </div>


  </div>
</div>


{% endblock %}
