{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  {% from 'phase-banner/macro.njk' import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "prototype"
},
html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}
<a href="#" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

       
<h1 class="govuk-heading-xl">Search for a UKPRN</h1>



       <div class="govuk-form-group">
          <label class="govuk-label" for="name">
          Enter the name or UKPRN
          </label>
          <input class="govuk-input govuk-input--width-20" id="name" name="name" type="text">
        </div>

        <div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <dl class="govuk-summary-list">
  
  
  
  
</dl><hr><br>
       



<table class="govuk-table">
  <caption class="govuk-table__caption"></caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Name</th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col">Verification number</th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col">Verification type</th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col">UKPRN</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">St Christophers C of E Primary Multi Academy Trust</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">08538866</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">Companies House</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">10046984</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Cherry Tree Academy Trust Marham Junior</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">926/2246</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">DfE LEA + Estab</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">10046754</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">St Johns Academy Trust</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">08538888</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">Companies House</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">10058426</td>
    </tr>
  </tbody>
</table>

       
  </div>
</div>



       <a href="provider-trust" class="govuk-button">Select and add</a><br>
       

  </div>
</div>


{% endblock %}
