{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a id="backlink" href="#" class="govuk-back-link">Back</a>
  </div>
  
</div>
<br>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"> 24 organisations added</h1>
  </div>
  
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="border-top ">
      <h2 class="govuk-heading-m">May 2019</h2>
        
    </div>
  </div>

</div>

<div class="govuk-grid-row">
  
  <div class="govuk-grid-column-full">
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">UKPRN</th>
          <th class="govuk-table__header" scope="col">Name</th>
          <th class="govuk-table__header" scope="col">Postcode</th>
          <th class="govuk-table__header" scope="col">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">10007859</th>
          <td class="govuk-table__cell">Warwickshire College</td>
          <td class="govuk-table__cell">CV23 6FF</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Unsucessful</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">10007860</th>
          <td class="govuk-table__cell">York College</td>
          <td class="govuk-table__cell">YK3 7FF</td>
          <td class="govuk-table__cell"><a href="manage-R05" class="govuk-link">Unsucessful</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">10007590</th>
          <td class="govuk-table__cell">Coventry College</td>
          <td class="govuk-table__cell">CV1 6YY</td>
          <td class="govuk-table__cell"><a href="provider-coventry" class="govuk-link">Added</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">10007853</th>
          <td class="govuk-table__cell">Cardiff College</td>
          <td class="govuk-table__cell">CF3 6FF</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Added</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">10007860</th>
          <td class="govuk-table__cell">Really Good Training Company<strong></strong></td>
          <td class="govuk-table__cell">YK23 6FF</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Added</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">10007888</th>
          <td class="govuk-table__cell">Yorkshire Academy</td>
          <td class="govuk-table__cell">CV23 6FF</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Added</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">10007859</th>
          <td class="govuk-table__cell">St John's Academy</td>
          <td class="govuk-table__cell">CV23 6FF</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Added</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">10004859</th>
          <td class="govuk-table__cell">Pershore College</td>
          <td class="govuk-table__cell">PR2 6FF</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Added</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">10005859</th>
          <td class="govuk-table__cell">Moreton Morrell College</td>
          <td class="govuk-table__cell">CV23 6FF</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Added</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">10003859</th>
          <td class="govuk-table__cell">London Training Company</td>
          <td class="govuk-table__cell">W1 6FF</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Added</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">10007880</th>
          <td class="govuk-table__cell">Coventry College</td>
          <td class="govuk-table__cell">CV23 6FF</td>
          <td class="govuk-table__cell"><a href="manage-R06" class="govuk-link">Added</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">10007859</th>
          <td class="govuk-table__cell">Herewood Training Company</td>
          <td class="govuk-table__cell">CV2 6FF</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Added</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">10002859</th>
          <td class="govuk-table__cell">Poole Sixth Form College</td>
          <td class="govuk-table__cell">PL23 6FF</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Added</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">10002259</th>
          <td class="govuk-table__cell">St John Sixth Form College</td>
          <td class="govuk-table__cell">SW3 5ED</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Added</a></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>










{% endblock %}
