
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">



  
      <h1 class="govuk-heading-xl">
        Training provider details 
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <h2 class="govuk-heading-s">
        January 2019</h2>
      </p>
      <p>
        A new service to manage all learner provider records.
      </p>

      <p>
        This page will link to prototypes as we create them. 
      </p>

      

            <h2 class="govuk-heading-m">Sprint two</h2>
            <ul>
              <li><a href="prototypes/admin/signin.html">Admin - manage provider records</a> </li>
            </ul>
            <p></p>

            <h2 class="govuk-heading-m">Sprint three</h2>
            <ul>
              <li><a href="prototypes/admin2/signin.html">Admin2 - manage provider records</a> </li>
            </ul>
            <p></p>

            <h2 class="govuk-heading-m">Sprint four</h2>
            <ul>
              <li><a href="prototypes/admin4/signin.html">Admin4 - manage provider records</a> </li>
            </ul>
            <p></p>

      <h2 class="govuk-heading-m">Other resources</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
        <li>
          <a href="https://design-system.service.gov.uk">
            GOV.UK Design System
          </a>
        </li>
      </ul>
    </div>
</div>
</div>
  </div>
</main>

{% endblock %}
