
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds"><br>



  
      <br><h1 class="govuk-heading-xl">
        Training provider records
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <h2 class="govuk-heading-s">
        January 2019</h2>
      </p>
      <p>
        A new service to manage training provider records. New PIMS.
      </p>

      <p>
        This page will link to prototypes as we create them. 
      </p>

      

<h2 class="govuk-heading-m">Sprint two</h2>
            
              <p><a href="prototypes/admin/signin.html">Admin - manage provider records</a> </p>
            
            <p></p><br><br>

<h2 class="govuk-heading-m">Sprint three</h2>
            
              <p><a href="prototypes/admin2/signin.html">Admin2 - manage provider records</a> </p>
            
            <p></p><br><br>

<h2 class="govuk-heading-m">Sprint four</h2>
            
              <p><a href="prototypes/admin4/signin.html">Admin4 - manage provider records</a> </p>
            

            
              <p><a href="prototypes/admin5/details.html">Admin5 - manage organisation records</a> </p>
            
            
              <p><a href="prototypes/admin-academy/details.html">Admin academy - Add an academy propose to open</a> </p>
            

            <p></p><br><br>



<h2 class="govuk-heading-m">Sprint five - 1 April 2019</h2>
            
              <p><a href="prototypes/admin6/details.html">Admin 6 - add an Independant Learning Provider</a> </p>
            
            
              <p><a href="prototypes/admin7/details.html">Admin 7 - add an Academy Trust</a> </p>
            
            
              <p><a href="prototypes/admin8/details.html">Admin 8 - rebrokerage</a> </p>
          
            <p></p><br><br>



<h2 class="govuk-heading-m">Sprint six - 11 April 2019</h2>
            
              <p><a href="prototypes/admin9/details.html">Admin 9 - reports</a> </p>
          
            <p></p><br><br>


<h2 class="govuk-heading-m">Sprint seven - 25 April 2019</h2>
            
              <p><a href="prototypes/admin10/details.html">Admin 10 - dash</a> </p>
            
            <p></p><br><br>


<h2 class="govuk-heading-m">Sprint eight - 9 May 2019</h2>
            
              <p><a href="prototypes/admin11/details.html">Admin 11 - MVP in progress</a> </p>
            
            <p></p><br><br>


<h2 class="govuk-heading-m">Sprint nine - 23 May 2019</h2>
            
              <p><a href="prototypes/admin12/details.html">Admin 12 - Show funding on a provider record Coventry College and close 16-18 Apprenticeships funding</a> </p>
            
            <p></p><br><br>       
            
<h2 class="govuk-heading-m">Sprint ten - 6 June 2019</h2>
            
              <p><a href="prototypes/admin13/details.html">Admin 13 - Errors on the dashboard and funding on a provider record</a> </p>

            <p></p><br><br>

<h2 class="govuk-heading-m">Sprint eleven - 20 June 2019</h2>
            
              <p><a href="prototypes/admin14/details.html">Admin 14 - Funding factor upload history and new house of clive record</a> </p> 

            <p></p><br><br>

      <h2 class="govuk-heading-l">Useful links</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
        <li>
          <a href="https://design-system.service.gov.uk">
            GOV.UK Design System
          </a>
        </li>
      </ul>
    </div>
</div>
</div>
  </div>
</main>

{% endblock %}
